.mm-dashboard-wrapper {
  margin-bottom: 20px;
}
.mm-dashboard-wrapper h2 {
  margin: 0;
  padding: 8px 24px;
  font-size: 24px;
}
.mm-dashboard-cluster {
  clear: both;
}
.mm-dashboard-header {
  width: calc(100% - 50px);
  min-height: 40px;
  margin-left: 25px;
  padding: 10px;
  font-size: 1.3em;
}
.mm-dashboard-gauge{
  height: 230px;
  margin: 5px 0;
}
.mm-dashboard-gauge .row {
  position: relative;
  height: 100%;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  background: #2196F3;
  box-shadow: 0 2px 3px #ccc;
}
.mm-dashboard-gauge a {
  color: #fff;
  text-decoration: underline;
}
.a-plus-icon {
  background: url('https://openei.org/w/images/7/7e/A-plus.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 75%;
  height: 75%;
  margin: 25px 0 0 0;
}
.mm-dashboard-icon {
  height: 155px;
  text-align: center;
}
.mm-dashboard-gauge i.fa {
  height: 100%;
  line-height: 150px;
  font-size: 6.5vw;
}

.mm-dashboard-gauge.education p,
.mm-dashboard-gauge.status p,
.mm-dashboard-gauge.energy p {
  margin: 0;
}
.mm-dashboard-gauge.education .mm-dashboard-data,
.mm-dashboard-gauge.status .mm-dashboard-data  {
  height: 155px;
  font-size: 1.75vw;
  padding: 25px 0 0 0;
}
.mm-dashboard-gauge.education .mm-dashboard-data p.content-detail,
.mm-dashboard-gauge.status .mm-dashboard-data p.content-detail {
  margin-bottom: 10px;
}
.mm-dashboard-gauge.education .mm-dashboard-data p.content-detail a {
  margin-right: 40px;
}
.mm-dashboard-gauge.status .mm-dashboard-data {
  height: 155px;
  font-size: 1.75vw;
  padding: 25px 0 0 0;
}
.mm-dashboard-gauge.energy .mm-dashboard-data {
  height: 155px;
  padding: 25px 0 0 0;
  font-size: 1.5vw;
  font-size: 1.75vw;
}
.mm-dashboard-gauge.energy .mm-dashboard-data #analogy {
  font-size: small;
}
.mm-dashboard-gauge.health .mm-dashboard-data {
}
.mm-dashboard-gauge.stats .mm-dashboard-data,
.mm-dashboard-gauge.power .mm-dashboard-data {
  margin-top: 2vh;
}
.mm-dashboard-gauge.stats .mm-dashboard-data span,
.mm-dashboard-gauge.power .mm-dashboard-data span,
.mm-dashboard-gauge.health .mm-dashboard-data span {
  display: block;
  margin: 3px 0;
  clear: both;
}
.mm-dashboard-gauge .alert-info {
  padding: 0 5px;
  border-radius: 2px;
}
.mm-dashboard-gauge.stats .alert-info {
  min-width: 52px;
  text-align: right;
}
.mm-dashboard-gauge.power .alert-info {
  min-width: 78px;
  text-align: right;
}
.mm-dashboard-gauge.stats .alert-info,
.mm-dashboard-gauge.power .alert-info {
  font-family: monospace;
}
.mm-dashboard-gauge.health .alert-info {
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
}
.mm-dashboard-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  display: block;
  clear: both;
  padding: 5px;
  border-radius: 2px;
  color: #2196F3;
  background: #fff;
}
a .mm-dashboard-label .btn-caret {
  color: #AFAFAF;
}
a:hover .mm-dashboard-label .btn-caret {
  color: #21E411;
}
.mm-dashboard-label .btn-caret i.fa {
  font-size: 20px;
  line-height: 1;
}
.mm-dashboard-note {
  font-size: x-small;
  text-align: center;
}
.mm-dashboard-cluster.not-registered .mm-dashboard-gauge .row {
  background: #bbb;
  color: #ddd;
}
.mm-dashboard-cluster.not-registered .mm-dashboard-gauge .alert-info {
  background: #ddd;
  color: #bbb;
}
.turbine-table,
.table-footer {
  position: relative;
  max-width: 92vw;
  margin-left: calc((100% - 92vw)/2);
  margin-right: calc((100% - 92vw)/2);
}
.table-mask {
  max-height: 50vh;
}
.turbine-table .statusCell {
  white-space: nowrap;
}
.table-footer {
  border-top: solid 1px #2196F3;
  text-align: center;
}
.table-footer .btn {
  position: absolute;
  right: 0;
  margin: 5px;
}
.stickyHeader {
  display: block;
  position: absolute;
  background: #fff;
  border-bottom: solid 2px rgba(33, 150, 243, 0.5);
  z-index: 1;
}
.stickyHeader.expanded {
  position: fixed !important;
  top: 0;
}
.stickyHeader th {
  position: relative;
  padding: 8px;
  cursor: pointer;
}
.stickyHeader th:before {
  content: "";
  display: block;
  height: 5px;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  border-bottom: solid 8px #eee;
}
.stickyHeader th:after {
  content: "";
  display: block;
  height: 5px;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: -10px;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  border-top: solid 8px #eee;
}
#sort-table th.active {
  position: relative;
  background: transparent;
}
.stickyHeader th.active {
  color: #2196F3;
  border-bottom: solid 2px #2196F3;
}
.stickyHeader th.active.ascending:before {
  /*border-bottom: solid 8px #2196F3;*/
  border-bottom-color: #2196F3;
}
.stickyHeader th.active.descending:after {
  /*bottom: -10px;
  border-top: solid 8px #2196F3;*/
  border-top-color: #2196F3;
}
.expand-tab {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.expand-tab::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0px 10px 10px;
  background: #2196F3;
  transform: perspective(10px) rotateX(-3deg);
  z-index: -1;
}
.expand-tab:hover::before {
  background: #1A77C0;
}
td.unregistered {
  color: #ccc;
}
td.unregistered.statusCell {
  color: #888;
  background: #eee;
}
.compare {
  padding-right: 24px;
  text-align: right;
}
@media screen and (max-width : 768px) {
  .mm-dashboard-gauge {
    height: 270px;
  }
  .mm-dashboard-icon {
    height: 60px;
    padding-top: 5px;
  }
  .mm-dashboard-gauge i.fa {
    font-size: 60px;
    line-height: initial;
  }
  .a-plus-icon {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .mm-dashboard-gauge.education .mm-dashboard-data,
  .mm-dashboard-gauge.status .mm-dashboard-data {
    height: 230px;
    padding: 10px;
    font-size: 3.75vw;
    text-align: center;
  }
  .mm-dashboard-gauge.education .mm-dashboard-data p.content-detail a {
    margin: 0;
    padding: 0 15px;
  }
  .mm-dashboard-gauge.energy {
    height: auto;
    min-height: 180px;
  }
  .mm-dashboard-gauge.energy .mm-dashboard-data {
    height: 145px;
    font-size: 2.5vw;
    font-size: 3vw;
    text-align: left;
    padding-top: 30px;
  }
  .mm-dashboard-gauge.stats .mm-dashboard-data,
  .mm-dashboard-gauge.power .mm-dashboard-data {
    margin-top: initial;
  }
  .mm-dashboard-gauge.energy #analogy {
    font-size: 0.75em;
  }
  .mm-dashboard-gauge.energy .mm-dashboard-icon {
    height: 120px;
  }
  .mm-dashboard-gauge.energy .fa-bolt {
    height: 100%;
    line-height: 120px;
  }
  .table-footer .btn {
    position: relative;
    display: block;
    float: none;
    width: 50%;
    margin: 30px auto;
  }
  .stickyHeader {
    display: none;
  }
}
@media screen and (min-width : 1400px) {
  .a-plus-icon {
    margin-left: 20%;
  }
  .mm-dashboard-gauge.education .mm-dashboard-data,
  .mm-dashboard-gauge.status .mm-dashboard-data {
    font-size: 2.5rem;
  }
  .mm-dashboard-gauge.education .mm-dashboard-data {
    padding-top: 25px;
  }
  .mm-dashboard-gauge.energy .mm-dashboard-data {
    font-size: 2.25rem;
  }
  .mm-dashboard-gauge.energy .mm-dashboard-data #analogy {
    font-size: 0.75em;
    font-size: 1.35rem;
  }
}